body {
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	background-color: black;
}

svg {
	fill: white;
}
line {
	stroke: white;
}
button {
	margin: 1rem;
}

#Layer_1-2 {
	transform: translateX(25px);
}
#audio-control {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#music-upload {
	color: black;
	outline: none;
	margin: 1rem;
}

#audio-player {
	width: 100%;
}

.hidden {
	display: none !important;
}
